<ion-view>
  <ion-content class="foninfo">
    <div class="row">
      <div class="col">
        <h1 class="a text-center">REPRODUCCION SEXUAL</h1>
        <br>
      </div>
    </div>
    
    <div class="row">    
        <div class="col-50 info">
          <div class="teoria2 text-center">
             <br><br>           
                    <p><b> La reproducción humana es una función biológica importante para la perpetuación de la especie humana. Para que se produzca es necesaria la unión del óvulo y del espermatozoide que son los gametos. </b></p>
          <br><br>

      <h3 class="reproduccion" >Reproducción Humana</h3>
        <img  class="ejemplo2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/C%C3%ADrculo_sexual.svg/800px-C%C3%ADrculo_sexual.svg.png">
      </div>
    </div>
       
        </div>
      </div>
      <div class="col-50 info">
  </ion-content>
</ion-view>
